.header{
    background: black;
    width: 100%;
    height: 8vh;
}
.headerLeft{
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.header_icon {
    width: 100px;
}
.header span{
    font-size: 25px;
    color: #fff;
    padding: 0 10px;
}
